@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap");


body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}



.title {
    color: #1A1A1A;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-color: red;
    text-align: center;
    word-spacing: 10px;
}
.item {
    color:  #808080;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1.5;
}

.subject {
    text-align: right;
    color: yellowgreen;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: navy;
    text-decoration-style: wavy;
    word-spacing: 5px;
}
.info {
    text-shadow: 2px 5px 3px blueviolet;
    text-transform: capitalize;
}

.list {
    color: darkmagenta;
    text-decoration: line-through;
    text-decoration-color: aqua;
}

